body{
    background-color: #000;
    overflow: hidden;

}

#drawarea{
    top: 0;
    left: 0;
    background-color: rgb(48, 24, 24);
    border: 5px ridge rgb(58, 17, 27);
}
.props{
    position: fixed;
    color: darkslateblue;
    background-color: #122;
}
